img {
    object-fit: cover;
    width: 100%;
    position: fixed;
    z-index: -1;
}

.sparkle_welcome {
	font-style: italic;
	background: linear-gradient(-45deg, #f06, #09f, #f06);
    background-size: 400% 400%;
    -webkit-background-clip: text;
    color: transparent;
    animation: textSparkle 19s linear infinite;
}

@keyframes textSparkle {
    0%, 100% { /*0% is  Initial styles */   /* 50% is Intermediate styles */
        background-position: 0% 30%;
    }
    50% { /* Final styles */
        background-position: 100% 50%;
    }
}

.grab_quote {
    font-weight: bold;
}

.quote_container {
    /* background: url("../../public/images/image3.png") center center/cover
    no-repeat; */
    /* height: 100vh; */
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* box-shadow: inset 0 0 0 1000px rgba(0,0,0,0.2); */
    object-fit: contain;
}

.quote_container > h1 {
    color: #fff;
    font-size: 100px;
    margin-top: -100px;
}

.quote_container > p {
    margin-top: 8px;
    color: #fff;
    font-size: 32px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

.quote_btns {
    margin-top: 32px;

}

.quote_btns .btn {
    margin: 6px;
}

.fa-play-circle {
    margin-left: 4px;

}

@media screen and (max-width: 960px) {
    .quote_container > h1 {
        font-size: 70px;
        margin-top: -150px;
    }
}

@media screen and (max-width: 768px) {
    .quote_container > h1 {
        font-size: 50px;
        margin-top: -100px;
    }
    .quote_container > p {
        font-size: 30px;
    }
}